.ourSerivces {
    background-color: #FFD957;
    
    .section-card {
        &-box {
            background: #FFF;
            padding: 30px;
            border-radius: 5px;

            &-title {
                font-family:'Roboto Condensed', sans-serif;
                font-weight: 400;
                font-size: 24px;
            }

            &-tag {
                display: flex;
                gap: 8px;
                padding-top: 5px;
                
                span {
                    background: #1A2E35;
                    display: inline-block;
                    font-size: 12px;
                    border-radius: 5px;
                    color: #FFF;
                    padding: 5px 10px;
                    font-weight: 200;
                }
            }
            p {
                color: #727272;
            }
        }
    }
}