
$font-stack: 'Roboto', sans-serif;
$font-stack-title: 'Roboto Condensed', sans-serif;

:root {
    --primary-color: #000000;
    --secondary-color: #FFD957;
    --font-color: #727272;
    --border-color: #B8B8B8;
}
